input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 20px; height: 20px; border-radius: 50%; background: black;
/* Colore desiderato */ cursor: pointer; }
/* Per Firefox */ 
input[type="range"]::-moz-range-thumb { width: 20px; height: 20px; border-radius: 50%; background: black; 
/* Colore desiderato */ cursor: pointer; } 
/* Per Internet Explorer */ 
input[type="range"]::-ms-thumb { width: 20px; height: 20px; border-radius: 50%; background: black; 
/* Colore desiderato */ cursor: pointer; }
.container{
  margin-top: 60px;
}

.suggestions{
  padding: 10px;
  border: 1px solid rgba(8, 38, 38, 0.185);
  border-top: none;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;
  
  .suggestion {
    cursor: pointer;
    padding: 1px;
  
    &:hover{
      background-color: rgba(38, 38, 38, 0.048);
    }
  }
}

.loading{
  padding: 5px;
  display: none;

  img{
    width: 30px;
  }
}