nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .logo-navbar{
    width: 100px;
    animation: rotate 10s linear infinite;
  }
}


@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}